html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    color: black;
    background-color: unset;
    background-image: unset;
}

h1, h2, h3 {
    font-family: 'Noto Sans', cursive;
}

a {
    color: #2E9BC7;
}

/* realistically im not doing anything that would require the background to be done
   as a div, however it would be really useful if i decide to blur the bg or something */
#background {
    background-image: url("../../../images/hzrb_bg.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;

    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
}

@supports (-webkit-touch-callout: none) {
    #background {
        background: url('../../../images/hzrb_bg.png') center top no-repeat scroll;
        background-size: auto 100vh;
    }
}

#container {
    width: 1200px;
    max-width: 100%; 
    background-color: white;
    box-shadow: 0px 0px 15px rgba(40, 40, 40, 0.5);
    padding: 0;
    margin: 0;
    min-height: 100%;
}

#inner-container {
    padding: 30px;
    padding-top: 2px;
}

#banner {
    padding-top: 20px; 
}

/* Top navigation links bar */
#links-bar {
    background: unset;
    border-bottom: solid #2E9BC7 5px;
}

a.link-bar-link {
    color: black; 
    font-weight: normal;
    text-decoration: none;
    margin: 0 30px 0 30px;
}

span.link-bar-separator {
    display: none;
  }

a.link-bar-link:hover {
    color: #2E9BC7;
}

/* Comic navigation buttons */
a.navigation-button {
    color: #2E9BC7; 
    font-size: 2em; 
    text-decoration: none;
}

a.navigation-button-disabled {
    color: gray;
    font-size: 2em;
    text-decoration: none;
}

/* Buttons: turn any link into a button by adding class="button" within the a tag */
.button {
    background-color: #2E9BC7;
    color: white;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.button:hover {
    background-color: #62C5E8;
    color: white;
}

/* Comic page-specific styling */
#blurb {
     background-color: unset; /*#F6FBFE;*/
    width: 75%; 
    /* border-left: 3px dotted #62C5E8;
    border-right: 3px dotted #62C5E8; */
    border: none;
}

h1#post-title {
    color: black;
    font-size: 3em;
    font-family: 'Noto Sans', cursive;
}

#post-date {
    font-weight: bold;
}

#storyline, #characters, #tags {
    font-style: unset;
}

#transcript-panel {
    min-width: 80%;
}